.slider{
    max-height: 653px;
    margin: 0 auto;
    position: relative;
    .prev{
        position: absolute; 
        top: 50%;
        transform: translateY(-50%);
        left: 120px;
        width: 42px;
        height: 42px;
        border-radius: 100%;
        border: 1px solid #ffffff;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        &:active{
            background-color: #000000;
        }
        span{
            color: #fff;
            font-size: 23px;
        }
    }
    .next{
        width: 42px;
        height: 42px;
        border-radius: 100%;
        border: 1px solid #ffffff;
        background-color: transparent;
        position: absolute; 
        top: 50%;
        transform: translateY(-50%);
        right: 120px;
        outline: none;
        z-index: 4;
        cursor: pointer;
        &:active{
            background-color: #000000;
            border: none;
        }
        span{
            color: #fff;
            font-size: 23px;
        }
    }
    button{
        border: none;
    }
    .sliders{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .tns-nav{
        position: absolute;
        top: 90%;
        transform: translateY(-50%);
        z-index: 3;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        display: flex;
        justify-content: space-between;
        button{
            width: 15px;
            height: 15px;
            background-color: #ffffff;
            border-radius: 100%;
            outline: none;
            &:focus{
                border: 4px solid #000000;
                border-radius: 100%;
                
            }
        }
    }
    
    .slider_1, .slider_2, .slider_3 {
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            display: flex;
            margin: 0 auto;
            z-index: 2;
            position: absolute;
            width: 100vw;
            
            
            
        }
    }
    .slider__text{
        margin: 0 auto;
        width: 612px;
        height: 100px;
        margin-top: 273px;
        position: relative;
        z-index: 3;
        .marker{
            width: 700px;
            height: 60px;
            background-color: #000;
            h1{
                color: #FFFFFF;
                font-size: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 6px;
            }
        }
        h2{
            margin-left: 120px;
            margin-top: 38px;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 8px;
        }
    }
}
.line{
    background-color: #D7D7D7;
    height: 2px;
    margin: 0 auto;
}

.products{
    min-height: 1560px;
    padding: 35px 0 70px 0;
    background-color: #FAFAFA;
    &__line_top, &__line_bottom{
        width: 1130px;
    }
    &__filter{
        display: flex;
        height: 65px;
        width: 730px;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin: 0 auto;
        position: relative;
        .filter__item{
            &::after{
                content: "";
                background: #D7D7D7;
                height: 30px;
                width: 1px;
                transform: rotate(20deg);
                display: inline-block;
                margin-left: 28px;
                position: absolute;
                top: 18px;
            }
            a{
                text-decoration: none;
                color: #9C9C9C;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: 700;
                transition: .3s;
                &:hover{
                    color: #000;
                }
            }
        }
    }
    &__list{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        .products__col1, .products__col2, .products__col3{
            width: 360px;
            overflow: hidden;
            .products__item{
                position: relative;
                margin-bottom: 30px;
                .outter{
                    background-color: rgba(0,0, 0, .5);
                    width: 100%;
                    height: 100%;
                    display: block;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: .5s;
                    .vertical-div{
                        width: 2px;
                        height: 40px;
                        background-color:rgba(255,255, 255, .8);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    .horizontal-div{
                        width: 40px;
                        height: 2px;
                        background-color:rgba(255,255, 255, .8);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                &:hover .outter{
                    opacity: 1;
                }   
            }
        }
    }
    &__btn{
        width: 130px;
        padding: 10px 0;
        background-color: #959595;
        border: none;
        margin: 30px auto 0 auto;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        display: block;
        cursor: pointer;
        transition: .3s;
        outline: none;
        &:hover{
            background-color: #696969;
        }
    }
}