*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    min-width: 100%;
}

body{
    color: #505050;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container{
    max-width: 1130px;
    margin: 0 auto;
}

@import "mixins";
@import "header";
@import "footer";
@import "home";
@import "about";
@import "portfolio";
@import "blog";
@import "contacts";


